{% extends "layout.html" %}

{% block title %}
    Reigster
{% endblock %}

{% block main %}
    <h2 style="color:blue"> Step 1: Team Information </h2>
    <br>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="team" name="team" placeholder="Team Name" type="text"  pattern="[a-zA-Z0-9\s]+" minlength="1" maxlength="10" title="Must contain 1-45 letters or numbers" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="size" name="size" placeholder="# of Members" type="number"  pattern="[0-9]+" minlength="1" title="Must contain only numbers" required>
        </div>
        <button class="btn btn-primary" type="submit"> Next... </button>
    </form>
{% endblock %}
